/* desarrollamos el dashboard de gestion de la web.*/
/* Aqui agregamos acceso a metodo DELETE por seguridad */
<section class="contenedor-dashboard">
  <div>
    <h1>Dashboard administración Portafolio</h1>
  </div>
  
  <div class="agregar-data">

  </div>
  <div class="modificar-data">

  </div>
  <div class="borrar-data">

  </div>
</section>

