<header>
  <a href="#" class="logo">DibuMov</a>
 <nav>
      <ul>
          <li><a href="#">Home</a></li>
          <li><a href="../Sitio_Mau03/about.html">Estudio</a></li>
          <li><a href="#">Derechos</a></li>
      </ul>
  </nav>
</header>